.buttonHome {
    margin: 25px;
    position: sticky;
    top: 0;
}

.buttonHome .btn {
    padding: 5px;
}

.detailContainer {
    display: block;
    margin: 25px;
    box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 20%);
    border-radius: 10px;
    background-color: #b7f6ff;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-gris-textura-madera_1048-4757.jpg?w=2000');
}

.detailContainer h2 {
    margin-block: 16px;
}

.detailContainer h3 {
    margin-block: 16px;
    font-weight: 600;
}

.detailContainer p:last-child {
    margin-bottom: 16px;
}

.detailContainer h2,
.detailContainer h3,
.detailContainer p {
    line-height: 28px;
    padding: 5px 15px;
}

.grid-list {
    display: grid;
}

ul {
    list-style: none;
}

.detailContainer .grid-list li:before {
    content: '✓';
    margin-right: 10px;
    color: #37d637;
    font-weight: bold;
    font-size: 25px;
}

.detailContainer span {
    color: white;
    font-size: 25px;
    background: #37d637;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.line {
    height: 1px;
    width: 70%;
    background: #000;
    border: none;
    margin-block: 40px;
}

@media screen and (min-width: 992px) {

    .detailContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    box-shadow: none;
    margin-top: 65px;
    }

    .detailContainer h2 {
    font-size: 30px;
    margin-block: 2rem;
    }

    .card-header {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .card-info {
    grid-column: 3 / 4;
    }

    .card-description {
    grid-column: 1 / 4;
    }

    .detailPicture {
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 20%);
    }

    .grid-list {
    display: block;
    padding-left: 25px;
    }

    .detailContainer h2,
    .detailContainer h3,
    .detailContainer p {
        line-height: 33px;
    }

    .line {
    display: none;
    }
}