
.filter-recipes h1 {
    font-size: 33px;
    background-image: url('https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80');
}
.filter-recipes {
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1510&q=80');
}

.filter-row-search {
    margin-block: 0;
    display: inline-block;
    width: 70%;
    margin-right: 43px;
    width: 69%;
    position: relative;
}

.create-recipe {
    display: inline-block;
    margin-block: 0.5rem;
    border: 1px solid #00b4cc;
    padding: 0.3rem;
    background: #00b4cc;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    margin-inline: 15px;
    font-size: 15px;
}

.create-recipe:hover {
    background: #fff;
    color: #00b4cc;
}

  .filter-row-sort > * {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-block: 0.5rem;
}

.searchForm {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.btn-search {
    position: absolute;
}


.recipes-list > .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}

.recipe-item {
    margin-block: 2rem;
    border: 1px solid #000;
    width: 85%;
    min-height: 320px;
    background: #fff;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 20%);
    transition: transform 0.2s ease-out;
    background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1510&q=80');
}


.recipe-title {
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
    display: inline-block;
    padding-inline: 1rem;
}

.recipe-item:hover {
    transform: scale(1.05);
}

.recipes-list .grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #000;
    list-style: none;
    align-items: center;
    padding: 0 10px;
}
.recipes-list .grid-list li {
    font-size: 13px;
    display: inline-block;
    background: #00b4cc;
    margin: 3px 4px;
    padding: 3px 5px;
    border-radius: 10px;
}

.pagination a {
    border: 1px solid;
}

@media screen and (min-width: 600px) {
    .recipes-list > .container {
    flex-direction: row;
    justify-content: space-around;
    }

    .filter-row-search {
    width: 73%;
    }

    .recipe-item {
    width: 45%;
    min-height: 360px;
    }
}

@media screen and (min-width: 992px) {
    .recipes-list .grid-list {
        display: block;
    }
    .filter-row-search {
    margin-block: 1.5rem;
    }

    svg {
    width: 21px;
    height: 21px;
    }

    .recipes-list > .container {
    flex-direction: row;
    }

    .filter-row-sort > * {
    width: 0.5rem;
    }

    .recipe-item {
    width: 30%;
    min-height: 360px;
    }

      .filter-row-sort > * {
        width: 20%;
    }

    button {
    width: 40px;
    height: 40px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 10px;
    }

    .filter-row-sort {
    display: flex;
    align-items: center;
    }
}

@media screen and (min-width: 1200px) {

    .recipe-item {
    min-height: 50px;
    }
}