.home  {
    margin: 0;
    background-color: rgb(54, 6, 12);
    background-image: url(../../img/img5.jpg);
    width: 100%;
    height: auto;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}