.form-container {
    box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 20%);
    background: #fff;
    border-radius: 10px;
    margin: 1rem;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-gris-textura-madera_1048-4757.jpg?w=2000');
}

.form-container h1 {
    text-align: center;
    color: #333;
    font-size: 33px;
    margin-top: 1.2rem;
}

.form-recipe {
    display: block
}

fieldset {
    margin: 2rem 0;
    padding: 1rem 1rem;
    border: none;
} */

  /* labels */

legend {
    font-size: 1.25rem;
    padding: 0 .25rem;
    color: #999;
    margin-block: 1rem;
}

label {
    display: block;
    margin-block: 1rem .5rem;
    font-weight: 600;
}

label:first-of-type {
    margin-top: 0;
}

  /* Inputs and textarea */

input {
    padding: .5rem;
    border: 1px solid #999;
}

input[type='email'],
input[type='text'] {
    width: 100%;
}

textarea {
    min-height: 8rem;
    min-width: 100%;
    padding: .5rem;
    border: 1px solid #999;
}

  /* radio buttons and checkboxes */

.checks {
    margin-block: 1.5rem;
    display: block;
    border: 1px solid rgb(7, 7, 7);
    padding: 15px;
}

.checks label {
    font-weight: 400;
}

input[type='checkbox']+label {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
} 

  /* Submit button*/

.submit-btn {
    padding: .5rem 1rem;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-block: 2rem 1rem;
    width: 200px;
}

.submit-btn:hover {
    background-color: white;
    color: #333;
    border: 1px solid #333;
}

.form-container p {
    margin-top: 24px;
    font-weight: 600;
}

@media screen and (min-width: 992px) {
    .form-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    fieldset {
    border: 1px solid #333;
    border-radius: 6px;
    min-width: 200px;
    padding-inline: 2rem;
    }

    .form-container {
    margin: 0;
    }

    .form-container h1 {
        font-size: 40px;
        margin-top: 0;
    }

    input[type='email'],
    input[type='text'] {
    width: 100%;
    color: #000;
    }

    textarea {
    min-width: 100%;
    }

    .checks {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
}

.addRecipeFormValidationErrorInput{
    background: red;
    opacity: 65%;
    color: white;
    animation-name: addRecipeFormValidationErrorInputAnimation;
    /* animation-duration: 0.5s; */
}
@keyframes addRecipeFormValidationErrorInputAnimation{
    0% {margin-left: calc(-100px);}
    50% {margin-left: calc(0px);}
    100% {margin-left: calc(100px);}
}
