.create  {
    margin: 0;
    background-color: rgb(54, 6, 38);
    background-image: url('https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1508&q=80');
    width: 100%;
    height: auto;
    position: absolute;    
    background-position: left; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.formDish {
    background-color: gainsboro;
    font-size: 12px;
    color: black;
    max-lines: 10px;
}

.checkboxContainer {
    max-width: 200px;
    background-color: gainsboro;
}
.typesInput {color:black;
    font-size: 12px;

}

.create button{
    background-color:  rgba(240, 228, 236, 0.712);
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
    background-color: rgb(73, 77, 50); 
    color:white;
}

.create button:hover{
    background-color: rgb(126, 123, 126);
    color:white;
    background-color:rgb(85, 63, 85);
    color:white;
}

.buttonHome {
    margin-top: 2%;
    margin-left: 0%;
}

.create h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    /* background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1510&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1508&q=80'); */
    background-color: rgba(197, 185, 185, 0.8);
    padding: 1%;
}

.create form{
    margin-left: 35%;
    margin-right: 35%;
    padding: 30px;
    font-size: 30px; 
    /* background-image: url('https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1508&q=80'); */
    color: white;
    background-position: center center;
}
.inputImageBox {
    color: black
}

.formulario div{
    margin-bottom: 2%;
}

.formulario p{
    color:rgb(86, 248, 46);
}

.instruction{
    width: 400px;
}

.diets{
    justify-content: flex-start;
} 
.diets li {
    float: left;
    justify-content: flex-start;
    background-color: rgba(197, 185, 185, 0.8);
}

.diets button{
    background-color: rgb(248, 46, 46);
    background-color: rgb(120, 189, 52);
    border-color: rgb(66, 161, 66);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-radius: 100%;
    font-size: 10px;
    padding: 20px;
    margin: 50px;
}

.diets button:hover{
    background-color: rgb(248, 46, 46);
    border-color: firebrick;
}

.buttonCreate{
    float: left;       
    margin-left: 50px;
    margin-right: 20px;
    margin-block-start: 30px;
}

.addRecipeFormValidationErrorInput{
    background: red;
    opacity: 65%;
    color: white;
    animation-name: addRecipeFormValidationErrorInputAnimation;
    animation-duration: 0.5s;
}
@keyframes addRecipeFormValidationErrorInputAnimation{
    0% {margin-left: calc(-100px);}
    50% {margin-left: calc(0px);}
    100% {margin-left: calc(100px);}
}
/* .buttonSave{
    margin-block-start: 20px;
} */