/* ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.button{
    padding: 1rem;
}
span{
    color: rgb(245, 244, 244);
    padding: 7px;
    background: rgb(53, 50, 50);
    margin: 2px;
    font-weight: 600;
    border-radius:50%;
    cursor: pointer;
}

span:hover{
    color: black;
    background-color: blanchedalmond;
} */


.paginationContainer{
    padding-top: 20px;
    padding-bottom: 300px;
    text-align: center;
}
.pagination {
    display: inline-block;
    margin-top: 20px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: var(--secondary);
    font-family: 'Ubuntu-Bold';
}
.pagination a:hover{
    box-shadow: 5px 5px 4px #888888;
    background-color: blueviolet;
}
.pagination a.active {
    background-color: #3a8b3d;
    color: white;
    border: 1px solid #3a8b3d;
    font-weight:bold;
}