.vista {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80');
    
}

.vista h1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 80px;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
}

.vista h2{
    display: flex;
    font-size: 30px;
    justify-content: center;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
}

.vista button{
    display: flex;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 45%;
    background-color: rgb(77, 50, 77);    
    color:white; 
}

.vista button:hover{
    /* background-color: rgb(126, 123, 126); */
    /* background-color: rgb(71, 3, 71);
    color:white; */
    background-color: rgb(85, 63, 85);    
    border-color: rgb(204, 163, 204);
    color:white;
}

.vista :link{
    text-decoration: none;
}