.btn-enter a {
    background-color: antiquewhite;
    color: #000000;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 700;
    border: 1px solid antiquewhite;
    border-radius: 10px;
  }

  .btn-enter a:hover {
    background-color: #000000;
    color: #fff;
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
  }

  .landing-section {
    background: url(../../img/Landing.jpeg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .titles {
    font-size: 2rem;
    text-align: center;
    color: antiquewhite;

  }

  .landing-section .description {
    color: antiquewhite;
    font-size: 16px;
    line-height: 25px;
    padding-inline: 10px;
    text-align: center;
  }

  .landing-section .description a {
    color: antiquewhite;
    text-decoration: underline;
  }

  @media screen and (min-width: 992px) {
    .btn-enter a {
      font-size: 1.5rem;
      transition: all 0.3s ease-in-out;
    }

    .titles {
      font-size: 3rem;
    }

   .landing-section .description {
      padding-inline: 200px;
      line-height: 33px;
      font-size: 22px;
    }

  }